.task-card {
    border: 1px solid #7350bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: 1rem auto;
    background: rgba(255, 255, 255, 0.4);
    padding: 0 1rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: relative;
    border-left: none;
}


.task-card:after {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: .5rem;
    height: 100%;
    content: "";
    background-color: #7350bd;
    border-radius: .2rem !important;
}



.task-btns{
 display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 30%;
}

.taskBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem 1rem;
    border: #fff;
    border-radius: .3rem;
    font-size: 1rem;
    margin: 0 .5rem;
    cursor: pointer;
    color: #f3eded;
    transition: all .3s ease-in-out;
}

.taskBtn:hover{
    color: #282c34;
    background-color: #eeeaea;
}

.deleteBtn{
    background-color: #E71414;
}

.editBtn{
    background-color: #F0FF42;
    color: #282c34;
}

.editForm {
    position: absolute;
    top: 150%;
    right: 6%;
    width: 50%;
    height: 40vh;
    display: flex;
    border-radius: .5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(166, 89, 213 , .9);
    padding: 1rem .3rem;
    z-index: 1;
    cursor: auto;
}
.editForm::after{
    top: -3.4%;
    left: 80%;
    width: 40px;
    height: 40px;
    position: absolute;
    background: rgba(166, 89, 213 , .7);
    content: "";
    z-index: 0;
    transform: rotate(45deg);
}

.editForm .input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}