/*header-section-of the site*/

.navbar {
    box-shadow: 1px 9px 34px -8px rgba(181, 144, 144, 1);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu a:nth-child(2) {
    margin: 3.5rem;
}

.navbar-menu a {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1.2rem;
    border-radius: .3rem;
    transition: all .3s ease-in-out;
}

.navbar-menu .active {
    background-color: #7149C6;
    color: #fff;
}

/*main section of the site*/
.app-introduce {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-introduce .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}

.main-section-img {
    flex-basis: 50%;
    overflow: hidden;
    background-color: red;
}

.main-section-captions{
    background: rgba(194, 176, 176, 0.3);
    padding: 1rem  2rem;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-section-btn{
    background-color: #7149C6;
    color: #ffffff;
    margin: 1rem auto !important;
    width: 50%;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    border: 1px solid #7149C6;
    cursor: pointer;
}

.main-section-btn:hover{
    background-color: #ffffff;
    color: #7149C6;
    border: 1px solid #7149C6;
}

/*app footer*/
.app-footer{
    padding: 2rem 0;
    background-color: #7350bd;
}

.footer-captions p{
    color: #fff;
    font-weight: 500;
}

.footer-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-icon{
    font-size: 2.5rem;
    color: #ffffff;
    transition: all .3s ease-in-out;
}

.footer-icon:hover{
    scale: 1.2;
    color: #282c34;
}

