.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8ebf4;
}
.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 65%;
    border-radius:2rem;
    height: 80vh;
    overflow: hidden;
    box-shadow: 0px 0px 56px 0px rgb(173, 246, 246);

}
.login-section{
    background-color: #fdfdfd;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.login-header{
width: 100%;
    flex-basis: 15%;
}
.login-header h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.login-header p{
    font-size: 1.2rem;
    font-weight: 500;

}
.login-main{
    width: 100%;
    flex-basis: 50%;
}

.login-entry-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-input-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-radius: 3.5rem;
    padding: 0 0.8rem;
    box-shadow: 0px 0px 80px 0px rgb(157, 184, 252);
}
 .error-msg{
     transition: all 1s ease-in-out;
     left:0rem;
     font-size:.75rem;
     color: #da1414;
     width: 80%;
     text-align: left;
 }


.login-input-container input{
    flex-basis: 85%;
    padding: .8rem .5rem;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: .9rem;
}
.login-logo{
    font-size: 1.5rem;
    color: #7f25e4;
    flex-basis: 15%;
}
.forget-pass{
    width: 85%;
    text-align: left;
    color: rgb(75, 110, 199);
}
.login-submit{
    margin-top:2rem;
    width: 60%;
    border-radius: 2.5rem;
    padding: .7rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;
    background: linear-gradient(340deg, rgba(69,6,241,1) 0%, rgba(9,9,121,1) 0%, rgba(137,42,226,1) 50%);
    color: #eeeaea;
    transition: all .5s ease-in-out;
}

.login-submit:hover{

    border:1px solid  #7f25e4;
    color: #7350bd;
    background: linear-gradient(322deg, rgba(69,6,241,1) 0%, rgba(9,9,121,1) 0%, rgba(246,244,248,1) 0%, rgba(246,244,248,1) 97%);
}
.login-cover{
    flex-basis: 50%;
    height: 100%;
    background: linear-gradient(340deg, rgba(69,6,241,1) 0%, rgba(9,9,121,1) 0%, rgba(137,42,226,1) 50%);
}

.create-acc{
    color: #7350bd;
    font-weight: bold;
}